{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Log In</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Click below to log in with your GitHub account!</p>
                <a class="btn btn-success btn-xl js-scroll-trigger" href="{% url 'social:begin' 'github' %}"><i class="fab fa-github"></i> Login with GitHub</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
