{% load static %}

<link rel="stylesheet" href="{% static 'css/header.css' %}">

<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% if request.user.is_authenticated %}
            <a class="navbar-brand" href="/user/{{ request.user.username }}"><img src="{% static 'img/logo.png' %}" alt="Logo" width="30" height="30"> <b class="header-title">//MyRepos</b></a>
        {% else %}
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="Logo" width="30" height="30"> <b class="header-title">//MyRepos</b></a>
        {% endif %}
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto"></ul>

            <div class="form-inline my-2 my-lg-0">
                <input id="searchedUser" class="form-control mr-sm-2 form-control-sm" type="search" placeholder="Search for user..." aria-label="Search" data-toggle="tooltip" title="Enter a value!">
                <button id="searchButton" type="button" class="btn btn-outline-success my-2 my-sm-0 btn-sm"><i class="fas fa-search"></i> Search</button>
            </div>

            <ul class="navbar-nav mr-auto"></ul>

            {% if request.user.is_authenticated %}
                <a href="/authentication/logout">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </a>
            {% else %}
                <a href="/authentication/login">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
                </a>
            {% endif %}
        </div>
    </nav>

</header>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="{% static 'js/header.js' %}"></script>
