{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">myrepos.ml</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Check and categorize your repositories with <i>My Repos!</i></p>
                <a class="btn btn-success btn-xl js-scroll-trigger" href="/authentication/login">Start now</a>
            </div>
            <div class="col-lg-10 align-self-baseline">
                <br><br>
                <p class="text-white-75 font-weight-light mb-5">We <i class="fas fa-heart"></i> contributions! Help us make <i>My Repos</i> better for the entire community. We are open source and distributed under The MIT License. <a class="custom-href" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/mateusdemorais/myrepos"><i class="fab fa-gitlab"></i> Contribute here.</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
