div.masthead {
    padding-top: 10rem;
    padding-bottom: calc(30rem - 72px);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("../img/bg-masthead.jpg");
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

div.masthead h1 {
    font-size: 2.25rem;
}

.text-white {
    color: #fff!important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

@media (min-width: 992px) {
    div.masthead {
        height: calc(100vh - 3.5rem);
        min-height: calc(40rem - 4rem);
        padding-top: 72px;
        padding-bottom: 0;
    }
    div.masthead p {
        font-size: 1.15rem;
    }
    div.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    div.masthead h1 {
        font-size: 3.5rem;
    }
}

hr.divider {
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: #28a745;
}

.text-white-75 {
    color: rgba(255,255,255,.75);
}

.font-weight-light {
    font-weight: 300!important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: .85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.btn {
    font-family: "Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}
