{% extends 'base.html' %}
{% load static %}
{% block title %}User not found{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/not_found.css' %}">

<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">User not found</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">The user "{{ username }}" wasn't found! Make sure the searched user has a GitHub profile. :)</p>
                <p class="text-white-75 font-weight-light mb-5">P.S.: The Github API request limit might have been exceeded.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
